<h1>header</h1>
<form action=''>
  <input data-search='/call/find?search=' type='text' class='search__input' />
  <button class='search__button'>Search</button>
</form>
<a href='/'>home</a>
<ul>

  {{#each this}}
    <ul><a href='/call/specific/{{this}}'>{{this}}</a></ul>
  {{/each}}
</ul>