<div class="card-goods">
    <button type='button' class='modal__close-btn' data-modal-close></button>
    <div class="card-goods__left">
        <img src="" alt="">
    </div>
    <div class="card-goods__right">
        <h2 class="card-goods__name">Название товара</h2>
        <p class="card-goods__code">Код товара</p>
        <p class="card-goods__price">Price</p>

        <button type="submit" class="card-goods__btn-information">Информация о продавце</button>

        <button type="submit" class="card-goods__btn card-goods__btn-favorites">В избранное
            <svg class="card-goods-icon">
                <use href="./images/sprite.svg#icon-favourite"></use>
            </svg>
        </button>
        <button type="submit" class="card-goods__btn card-goods__btn-share">Поделиться
            <svg class="card-goods-icon">
                <use href="./images/sprite.svg#icon-share"></use>
            </svg>
        </button>

        <h3 class="card-goods__heading-desc">Описание</h3>
        <p class="card-goods__desc">Текст описания</p>
    </div>
</div>