<div class="modal-exit__wrapper">
<h2>Вы точно хотите выйти из аккаунта?</h2>
<button type="submit" class="modal-exit__btn">Выйти</button>
<button type="submit" class="modal-close__btn">Отмена</button>
</div>