<div class="empty-favourite hidden">
<h2 class='swiper-title'>Избранное</h2>

<div class='swiper-wrapper'>
    <p class="empty-text">У данного пользователя отстутствуют избранные объявления</p>
</div>
</div>