<div class="empty-goods hidden"></div>
<h2 class='swiper-title'>Мои объявления</h2>

<div class='swiper-wrapper'>
    <p class="empty">У данного пользователя отстутствуют личные объявления</p>
</div>
</div>


