<div class='backdrop'> 
<div data-modal='modal' class='modal'>
  <button type='button' class='modal__close-btn'>  
    <span class="material-icons-outlined modal__close-span">close</span>
  </button>  
  {{{modalContent}}}
</div>
</div>