<!-- <header id="header" class="header"> -->
    <div class="container">
        <div class="header__mobile">
            <button type="button" class="mobile-button">
                <svg class="ikon-burger" width="20px" height="20px">
                    <use href="./sprite.svg#burger"></use>
                </svg>
            </button>
            <a href="">
                <img class="mobile__logo" src="../images/logo.svg" alt="logo">
            </a>
            <button type="button" class="mobile-button">
                <svg class="ikon-search" width="24px" height="24px">
                    <use href="../images/sprite.svg#search"></use>
                </svg>
            </button>
        </div>
        <div class="header__wrapper">
            <nav class="nav">
                <a href="">
                    <img class="header__logo logo" src="../images/logo.svg" alt="logo">
                </a>
                <form class="header__form_desktop">
                    <input class="header__find" type="text">
                    <button type="submit" class="search__btn">
                    </button>
                </form>
            </nav>
            <div class="box">
                <ul class="list registration log-in">
                    <li class="item registration__item">
                        <button class="registration__btn-reg" type="button">Регистрация</button>
                    </li>
                    <li class="item registration__item">
                        <button class="registration__btn-in" type="button">Войти</button>
                    </li>
                </ul>
                <ul class="list cabinet">
                    <li class="item cabinet__item">
                        <button class="cabinet__in" type="button">
                            <svg class="ikon-user" width="20px" height="20px">
                                <use href="../images/sprite.svg#user"></use>
                            </svg>Мой кабинет</button>
                    </li>
                    <li class="item cabinet__item">
                        <button class="cabinet__out" type="button">
                            <svg class="ikon-out" width="20px" height="20px">
                                <use href="../images/sprite.svg#out"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
                <button class="header__btn" type="button">Создать объявление</button>
            </div>
        </div>
        <div class="filter">
            <ul class="list filter__list_desktop">
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Недвижимость</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Транспорт</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Работа</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Электроника</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Бизнес и услуги</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Отдых и спорт</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Отдам бесплатно</button>
                </li>
                <li class="item filter__item_desktop">
                    <button type="button" class="filter__btn">Обмен</button>
                </li>
            </ul>
            <form class="header__form_tablet">
                <input class="header__find" type="text">
                <button type="submit" class="search__btn">
                </button>
            </form>
            <button class="filter__btn_open" type="button">
                <svg class="ikon-tune" width="24px" height="24px">
                    <use href="../images/sprite.svg#tune"></use>
                </svg>
                Фильтры
            </button>
            <button class="reset-btn" type="reset">
                <svg class="ikon-replay" width="24px" height="24px">
                    <use href="../images/sprite.svg#replay"></use>
                </svg>
                Очистить
            </button>
        </div>
    </div>
    <div class="filter_tablet">
        <ul class="list filter__list_tablet">
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Недвижимость</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Транспорт</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Работа</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Электроника</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Бизнес и услуги</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Отдых и спорт</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Отдам бесплатно</button>
            </li>
            <li class="item filter__item_tablet">
                <button type="button" class="filter__btn">Обмен</button>
            </li>
        </ul>

    </div>

<!-- </header> -->