<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--is-hidden  -->
    <div class="backdrop ">
        <div id="modalAuthorization" class="modal_div">
            <button type="button" class="modal_close-btn">#</button>
            <p class="modal_paragraph-register-google">Для авторизации можете использовать Google Account:</p>
            <div class="center">
                <button type="button" class="modal_button-register-google">#</button>
            </div>
            <p class="modal_paragraph-register-email">Или войдите в приложение используя e-mail и пароль:</p>
            <form>
                <label>
                    <input type="email" placeholder="E-mail" class="modal_input-email-register modal_input-register">
                </label>
                <label>
                    <input type="password" placeholder="Password"
                        class="modal_input-password-register modal_input-register">
                </label>
                <div class="modal_div-button-register">
                    <button type="submit" class="modal_button-register-entrance modal_button-register">Войти</button>
                    <button type="" class="modal_button-registeration modal_button-register">Регистрация</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>