/*================TABLET-FILTER=================*/
.tablet-menu {
  display: none;
  z-index: 10;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tablet-menu {
    display: block;
    background-color: #02182d;
    width: 100%;
    position: absolute;
    top: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .filter_tablet {
    display: block;
    // padding: 30px 40px;
  }
}

.filter__list_tablet {
  display: flex;
  flex-wrap: wrap;
}

.filter__item_tablet {
  margin-right: 10px;
}

.filter__item_tablet:nth-child(-n + 5) {
  margin-bottom: 20px;
}
